@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

label {
  font-size: .8em;
}

input.form-control, input.form-control:focus {
  background: #F2F2F2;
  min-width: 300px;
}

.error {
  position: absolute;
  font-size: .7em;
  color: red;
}

/* Responsive */

@media (max-width: 575.98px) {
  .image {
    display:none;
  }

}
@media (min-width: 1400px) { 
  .form, .image {
    padding-left: 48px;
    padding-right: 48px;
  }
}
